<!DOCTYPE html>
<html>

<head>
    <title>Открытая Акимовка {{ title }}</title>
</head>

<body>
    <header>
        header
    </header>
    <main>
        {{{body}}}
    </main>
    <footer>
        footer
    </footer>
</body>

</html>